<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Micropost</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarmenus">
        <span class="navbar-toggler-icon"></span>
      </button>

      <%# レスポンシブ %>
      <div class="collapse navbar-collapse ms-auto" id="navbarmenus">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">aaa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">bbb</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">ccc</a>
          </li>
          <li>
            <div class="dropdown">
              <div class="dropdown-toggle text-white" id="dropdownMenuButton" data-bs-toggle="dropdown">
                Dropdown button
              </div>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
</nav>
</header>